* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: sans;
    font-size: 20pt;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    line-height: 4em;
    font-size: 2ex;
    box-shadow: 0px 5px 15px 0px #777;
    background: white;
    overflow: hidden;
}

header h1 {
    height: 100%;
    text-overflow: ellipsis;
}

header h1 {
    vertical-align: middle;
    margin-left: 2ex;
    font-weight: inherit;
    font-size: 150%;
}

header h1 * {
    vertical-align: middle;
}

article {
    margin: 7em auto 1em;
    width: 90%;
}

section h {
    margin: 2em 0;
    font-size: 120%;
}

#body a {
    display: inline-block;
    padding: 1ex;
    color: #39c;
    text-decoration: none;
}

/* Pages. */
article ul#repositories li {
    width: 50%;
    margin: 0;
    padding: 1em;
    display: inline-block;
}

article ul#repositories li p.description {
    padding: .5ex 0 .1ex 2em;
    color: #555;
}

.heads section {
    width: 50%;
    margin: 0;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

.heads section ul {
    margin-left: 3em;
}

canvas {
    margin-top: 1ex;
    /* border: 1px dashed grey; */
}

p#diff {
    margin: 1em 0;
    text-align: center;
    font-size: 120%;
}

span.additions {
    color: rgb(85, 165, 50);
}

span.deletions {
    color: rgb(189, 44, 0);
}

header .head {
    font-size: 80%;
    color: #555;
}
